body{
  display: flex;
  flex-direction: column;
  background: url(background.jpg);
  min-height: 100vh;
}
/* ------------------
       ШАПКА
--------------------- */

a{
  text-decoration: none;
}
.menu{
  font-size: 17px;
}
main{
  flex-grow: 1;
}
.header{
  display: flex;
  padding: 10px 15px 10px 0;
  background: #1e1f23;
  align-items: center;
  justify-content: right;
  width: 100%;
}
.but{
  margin: 0 0 5px 20px;
}
#dele{
  margin: 0 0 5px 73%;
}
button,#inputButton,#reviewSub{
  display: flex;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 25px;
  background-color: #f96;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
#inputButton{
  margin: 10px 0 0 0;
}
button:hover{
    background-color: #69e;
}
#reviewSub{
  font-size: 13px;
}
#reviewSub:hover{
  background-color: #69e;
}
/* ------------------
ГЛАВНАЯ СТРАНИЦА INDEX
--------------------- */
.card{
  display: flex;
  margin: 20px auto;
  padding: 5px 5px 5px 5px ;
  max-width: 600px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 10px;
}
.title_answer{
  display: flex;
  text-align: baseline;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  min-width: 90px;
  max-width: 90px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}
.descrip_answer{
  font-size: 13px;
  width: 65%;
}
.poster{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.service__container{
  padding: 2%;;
  display:flex;
  margin: 20px auto;
  height: auto;
  max-width: 70%;
  flex-direction: column;
}
form{
  font-family: Arial, Helvetica, sans-serif;
}
#service__but{
  margin: 15px 0 0 0;
}

#sbtn{
  margin: 5px auto;
}
#inputButton:hover{
  background-color: #69e;
}
.sbtn:hover{
  background-color: #69e;
}
#deleteBlock{
  display: none;
}
#deletee,#delFilm{
  display: none;
}
#delFilm{
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
}
#year,#cntry,#genres{
  margin: 0 auto;
  padding:10px;
  border-radius:10px;
  border: 1px solid grey;
  font-family: 'Roboto', sans-serif;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 150px;
}
select{
  margin: -10px 0 0 30px;
  padding:10px;
  border-radius:10px;
  border: 1px solid grey;
  font-family: 'Roboto', sans-serif;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 150px;
}
#filter{
  display: flex;
  margin: -10px auto;
  flex-direction: row;
  justify-content: center;
}
.howFilter{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.bor{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  background-color: white;
  width: 77%;
}
.zagolovok{
  display: flex;
  margin: 10px auto;;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  max-width: 100%;
}

.descripCard{
  border: 5px solid grey;
  border-radius: 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 60%;
  margin: 10px auto;
  padding: 10px;
}
.descripCard:hover{
  border: 5px solid #f96;
  transition: all 0.3s ease 0s;
}
#serials__elem img{
  display:block; 
  width: 90%; 
  height:auto;
  margin:0 auto;
}
.description,.titleCard{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}
.titleCard{
  font-weight: bold;
}
.ser__name{
  font-weight: bold;
  font-size: 15px;
}

/* ------------------
СТРАНИЦА ДОБАВЛЕНИЯ ФИЛЬМОВ
--------------------- */
.serials{
  display: flex;
  margin: 20px auto;
  width: 80%;
  flex-direction: row;
}
.ser__image{
  display: flex;
  margin: 0 30px 10px 10px;
  width: 35%;
}
.ser__image img{
  width: 280px;
  max-height: auto;
}
.ser__text{
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 60%;
  max-height: auto;
}
#scenario{
  width: 300px;
  height: 70px;
}
.films{
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
}
/**/
.reviewContainer{
  display:flex;
  width: 80%;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 20px;
  flex-direction: column;
} 
.reviewContainer p{
  margin: 2px auto;
}
.review,.textInput,.workInput,.nameInput{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
}
.textInput{
  width: 400px;
  height: 100px;
  resize: none;
}
.revDiv{
  margin: 10px 0 0 0;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
  background-color: #FFD073;
}
.reviewForm{
  margin: 20px 0 0 0;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
}